<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi_AA_-vpjtB_sgWI0Q58GBYzhzA9x7zU</string>
	<key>GCM_SENDER_ID</key>
	<string>179654221452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seesaw1</string>
	<key>PROJECT_ID</key>
	<string>seesaw1-1486a</string>
	<key>STORAGE_BUCKET</key>
	<string>seesaw1-1486a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179654221452:ios:0029ff12cacfd0b33b25a9</string>
</dict>
</plist>